@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  background: #005B4C;
  min-height: 100vh;
  font-family: "DM+Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;

}

/*Main Section*/

main {
  flex: 1 0 auto;
  color: #FFEACE;
  padding-bottom: 10px;
  background: url(../assets/images/E54975E2-EFDE-442C-B774-74611381C8B5.JPG) no-repeat center center/cover;
}

h1 {
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  ;
}

/* Quiz */
#quiz-container {
  font-size: 100%;
  font-weight: 600;
  background-color: rgba(39, 94, 71, 0.847);
  border-radius: 30px 30px;
  padding-top: 20px;
  margin-top: 60px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
}

h1 {
  margin-bottom: 10px;
}

#question-container>p {
  font-size: x-large;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
  ;
}

.answer-btn {
  padding: 12px 24px;
  margin: 10px 5px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px 30px;
  gap: 3rem;
  background-color: #469c49;
  color: #282015;
  border: 1px solid #469c49;
  outline: 2px solid #FFEACE;
  cursor: pointer;
  transition: 0.4s ease; 
}

.buttonClick {
  background-color: #0b7160;
}

.answer-btn:hover {
  background-color: #0b7160;
  color: #FFEACE; 
}


#next-button {
  background-color: #469c49;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px 30px;
  cursor: pointer;
  transition: 0.4s ease;
  outline: 2px solid #FFEACE;
  border: 1px solid #469c49;
  color: #282015;
}
#next-button:hover {
background-color: #0b7160;
color: #FFEACE;
}

/* Footer */

footer {
  height: 100px;
  z-index: 100;
}

#social-networks {
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#social-networks i {
  font-size: 300%;
  padding: 15%;
  color: #FFEACE;
  transition: .3s ease;

}

#social-networks i:hover {
  color: #D43C3C;


}

/* Media Query: tablets and larger (768 px and up)*/
@media screen and (min-width: 768px) {

  body {
    font-size: 16px;
    line-height: 1.6;
  }

  #quiz-container {
    padding: 10px;
    margin: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
  }
}


/* Large devices (laptops and desktops, 992px and up) */
@media screen and (min-width: 992px) {}

@media screen and (min-width: 1200px) {

  #quiz-container {
    margin: 70px;

  }

}