@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
}


body {
  background: #005B4C;
  min-height: 100vh;
  font-family: "DM+Sans", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}


/*Main Section*/

main {
  flex: 1 0 auto;
  color: #FFEACE;
  padding-bottom: 10px;
  background: url(../assets/images/E54975E2-EFDE-442C-B774-74611381C8B5.JPG) no-repeat center center/cover;
}

/* Quiz */
#quiz-container {
  font-size: 100%;
  font-weight: 600;
  background-color: rgba(39, 94, 71, 0.847);
  border-radius: 30px 30px;
  padding: 10px;
  padding-top: 10px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
 
}

#question-container>p {
  font-size: x-large;
}

.answer-btn {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 30px 30px;
  gap: 2rem;
  background-color: #3a9b3d;
  cursor: pointer;
  transition: .6s ease;
}

.answer-btn:hover {
  background-color: #0b7160;
  color: #FFEACE;
  ;
}

/* Footer */

footer {
  height: 100px;
  z-index: 100;
}

#social-networks {

  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  list-style-type: none;

}

#social-networks i {
  font-size: 300%;
  padding: 15%;
  color: #FFEACE;
  transition: .3s ease;

}

#social-networks i:hover {
  color: #D43C3C;
}